{% extends "base.html" %}

        {% block app_content %}

        <div class="jumbotron">
            <h1> Contacts </h1>
        </div>
        <div>
            <table class="table table-hover table-bordered table-striped">
                <thead>
                     <tr>
                        <th> Nom </th>
                         <th> Prénom </th>
                         <th> fonction </th>
                         <th> Téléphone fixe </th>
                         <th> Téléphone portable </th>
                         <th> Adresse mail </th>
                         <th> Entreprise </th>
                          <th> En activité </th>
                         <th> Actions </th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> {{ contact.name }} </td>
                        <td> {{ contact.firstname }} </td>
                        <td> {{ contact.fonction }} </td>
                        <td> {{ contact.phonenumber1 }} </td>
                        <td> {{ contact.phonenumber2 }} </td>
                        <td> {{ contact.mail }} </td>
                        <td> <a href="{{ url_for('details_entr', entreprise_id= contact.entreprise_id) }}" title="Détails"> {{ contact.entreprise.name }} </a>  </td>

                        <td>    {% if contact.active %}
                            <button type="button" class="btn btn-success" >
                                <span class="glyphicon glyphicon-ok-circle">
                                </span>
                            </button>
                                {% else %}
                            <button type="button" class="btn btn-danger">
                                <span class="glyphicon glyphicon-remove-circle">
                                </span>
                            </button>
                                {% endif %}
                        </td>

                        <td>
                            <a href="{{ url_for('delcontact', contact_id= contact.id, confirm= 0) }}" class="btn btn-danger" role="button" aria-disabled="true"
                            data-toggle="tooltip" data-placement="right" title="Supprimer"><i class="glyphicon glyphicon-trash"></i> </a>

                            <a href="{{ url_for('updatecontact', contact_id= contact.id) }}" class="btn btn-warning" role="button" aria-disabled="true"
                            data-toggle="tooltip" data-placement="right" title="Modifier"><i class="glyphicon glyphicon-pencil"></i> </a>
                        </td>
                    </tr>
     </tbody>
</table>
        </div>
<div>
    <a href="{{url_for('home_contacts') }}" class="btn btn-default" role="button" aria-disabled="true"
                            data-toggle="tooltip" data-placement="right" title="Ajouter une entreprise"> <i class="glyphicon glyphicon-chevron-left"></i> retour</a>
    <br>
    <br>
</div>


        {% endblock %}