{% extends "base.html" %}

        {% block app_content %}

        <div class="jumbotron">
            {% if stages %}
            <h1> Stages </h1>
            {% else %}
            <h1> Stages </h1>
            {% endif %}
        </div>
        <div>
            <table class="table table-hover table-bordered table-striped">
                <thead>
                     <tr>
                        <th> ID </th>
                         <th> Début de stage </th>
                        <th> Eleve </th>
                        <th> Niveau </th>
                        <th> Entreprise </th>
                        <th> Contact </th>

                         <th> Actions </th>

                    </tr>
                </thead>
                <tbody>
{% for stage in stages %}
                    <tr>
                        <td> {{ stage.id }} </td>
                        <td> {{ stage.periode.date_deb1}} </td>
                        <td> {{ stage.eleve.name}} {{stage.eleve.firstname }} </td>
                        <td> {{ stage.niveau.name }} </td>
                        <td> {{ stage.entreprise.name }} </td>
                        <td> {{ stage.contact.name }} {{ stage.contact.firstname }}</td>

                        <td>
                            <a href="{{url_for('delStage', stage_id=stage.id, confirm= 0)}}" class="btn btn-danger" role="button" aria-disabled="true"
                            data-toggle="tooltip" data-placement="right" title="Supprimer"><i class="glyphicon glyphicon-trash"></i> </a>

                            <a href="{{url_for('updateStage', stage_id=stage.id)}}" class="btn btn-warning" role="button" aria-disabled="true"
                            data-toggle="tooltip" data-placement="right" title="Modifier"><i class="glyphicon glyphicon-pencil"></i> </a>
                        </td>
                    </tr>
{% endfor %}
     </tbody>
</table>
        </div>
<div>
    <a href="{{url_for('new_stage3') }}" class="btn btn-success" role="button" aria-disabled="true"
                            data-toggle="tooltip" data-placement="right" title="Ajouter un stage"> <i class="glyphicon glyphicon-plus"></i> Stage</a>
    <br>
    <br>
</div>


        {% endblock %}