{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h1>Classe : {{ propo_nom }}</h1>
      <div class="jumbotron"
        </div>
        <div>
            <table class="table table-hover table-bordered table-striped">
                <thead>
                     <tr>
                        <th> Nom de l'élève</th>
                         <th> Prénom de l'élève</th>

                         <th> Actions </th>

                    </tr>
                </thead>
                <tbody>
{% for classe in classes %}
                    <tr>
                        <td> {{ classe.name }} </td>
                        <td>
                            <a href="{{url_for('delNiveau', niveau_id=niveau.id, confirm= 0)}}" class="btn btn-danger" role="button" aria-disabled="true"
                            data-toggle="tooltip" data-placement="right" title="Supprimer"><i class="glyphicon glyphicon-trash"></i> </a>

                            <a href="{{url_for('updateNiveau', niveau_id=niveau.id)}}" class="btn btn-warning" role="button" aria-disabled="true"
                            data-toggle="tooltip" data-placement="right" title="Modifier"><i class="glyphicon glyphicon-pencil"></i> </a>
                        </td>
                    </tr>
{% endfor %}
     </tbody>
</table>
        </div>
<div>
    <a href="{{url_for('new_classe1') }}" class="btn btn-success" role="button" aria-disabled="true"
                            data-toggle="tooltip" data-placement="right" title="Ajouter une classe"> <i class="glyphicon glyphicon-plus"></i> Classe</a>
    <br>
    <br>
</div>
{% endblock %}